
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back-index.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.rules{
    position: relative;
    position: relative;
    text-align: center;
    top: 139px;
    font-size: 17px;

}

#rules-head{
    font-size: 24px;
    text-decoration: underline;
    color: red;
}
#btn-block{
    text-align: center;
    position: relative;
    top: 182px;
}
